<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/FAQ.css') }}">
    <title>Document</title>
</head>
<body>
    <section class="FAQ">
        <h1>Teffino express policy’s</h1>
        <ul class="main-point">
            <li>
                1.	Daily two times dabba services it can make additional service like breakfast with the selective menu. 
            </li>
        <li>
            2.	Extra food service with the dabba in the demand of the CUSTOMER 
            (like if a CUSTOMER want to add some extra food or dish we will provide that with the sufficient extra cost 
            limited items available)
        </li>
        <li>
            3.	We will provide all day food service.
            <ul class="sub-point">
                <li>Like if a CUSTOMER wants to eat something in the middle of the day 
                    (or any time in the day between 10 am to 6  pm) so we will provide 
                    them a menu that menu have the list of limited items that can be provided 
                    in that situation. 
                    (we can run this service for all the food lovers like a restaurant do) 
                </li>
            </ul>
        </li>
        <li>
            4.	We give a chance to CUSTOMER to cancel their onetime dabba service 
            if they don’t need that so that CUSTOMER can reduce their monthly bills 
            <ul>
                <li>
                    CUSTOMER can cancel the onetime dabba in the limited item provided by the teffino express. 
                    (CUSTOMER can cancel the morning dabba before 10 am and evening dabba before 3 pm)
                </li>
                <li>
                    CUSTOMER can cancel the dabba and order another dish listed in the menu provided by the tiffin express 
                    (in the same cost of dabba or with the extra cost also)
                </li>
                <li>
                    If a customer wants to cancel the order, he can but the money should not be refunded 
                    and the dabba can be adjusted in the end of the month. 
                </li>
                <li>
                    We only can adjust 3 days (6 dabba in a month) of dabba in a month.
                </li>
                <li>
                    Free Delivery under 5 Km.
                </li>
            </ul>
        </li>
    </ul>
    <button class="return"><a href="./">X</a></button>
    </section>
</body>
</html>