<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/Style.css') }}">
    <link rel="icon" type="image/x-icon" href=".\static\images\favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/loader.css') }}">

    <!-- <link rel="stylesheet" href="Trinity-main\static\css\.css"> -->
    <title>Teffino</title>

    <style>
      /* Inline CSS for immediate styling improvements */
      body {
          font-family: 'Poppins', sans-serif;
          margin: 0;
          padding: 0;
          background-color: #fbf6ee;
      }

      .contactForm {
          background-color: rgba(255, 255, 255, 0.8);
          border-radius: 20px;
          padding: 30px;
          max-width: 500px; /* Adjust as needed */
          margin: 0 auto;
      }

      .input_field {
          margin-bottom: 20px;
      }

      .field {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 16px;
      }

      .field:focus {
          outline: none;
          border-color: #f9ba1f; 
      }

      .field::placeholder {
          color: #999; /* Placeholder text color */
      }

      .btn {
          background-color: orangered;
          color: white;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          font-size: 16px;
          transition: background-color 0.3s;
      }

      .btn:hover {
          background-color: hsl(16, 100%, 45%);
      }

      .error_message {
          color: red;
          margin-top: 10px;
      }



.icon-bar {
  position: fixed;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 60px; 
}
.icon-bar a i {
  font-size: 30px !important; 
}


.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.instagram {
  background: #bb0061f4;
  color: white;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
  </style>
</head>
<body>
  <div class="icon-bar">
    <a href="https://www.facebook.com/people/teffinoexpress/61560848874552/?mibextid=ZbWKwL" class="facebook"><i class="fa fa-facebook"></i></a>
    <a href="https://x.com/TeffinoE5234" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="mailto: teffinoexpress@gmail.com" class="google"><i class="fa fa-google"></i></a>
    <a href="https://www.instagram.com/teffino_express?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="instagram"><i class="fa fa-instagram"></i></a>
  </div>

  <a href="https://api.whatsapp.com/send?phone=9424067977&text=Welcome to Teffino." class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
    </a>

  <div class="top-bar">
    <div class="top-bar-container">
      <div class="logo-container">
        <a href="./" class="site-logo">
          <!-- <img src="{{ url_for('static', filename='images/logo-1@2x.png') }}" alt="#" height="100px" width="100px"> -->
          <img src="{{ url_for('static', filename='images/logo-1@2x.png') }}" alt="#" height="100px" width="100px" style="margin-top: -20px;">

        </a>
      </div>

      <div style="margin-top: -20px;" class="nav-container">
        <ul class="nav-links">
          <li><a href="./">Home</a></li>
          <li><a href="./AboutUs">About Us</a></li>
          <li><a href="./Meals">Meal Plans</a></li>
          <li><a href="./Services">Services</a></li>
          <li><a href="./Gallery">Gallery</a></li>
          <li><a href="./ContactUs">Contact</a></li>
        </ul>
      </div>
      <div class="subscribe-container">
        <button style="margin-top: -20px;" class="subscribe-btn"> <i class="fa fa-phone" aria-hidden="true"></i>+91 9424067977</button>
      </div>
    </div>
  </div>

  <nav class="navbar">
    <div class="nav-container">
      <ul class="nav-links">
        <a href="./" class="site-logos">
          <!-- <img src="{{ url_for('static', filename='images/logo-1@2x.png') }}" alt="#" height="100px" width="100px"> -->
          <img src="{{ url_for('static', filename='images/logo-1@2x.png') }}" alt="#" height="100px" width="100px" style="margin-top: -20px;">
  
        </a>
        <li><a href="./">Home</a></li>
        <li><a href="./AboutUs">About Us</a></li>
        <li><a href="./Meals">Meal Plans</a></li>
        <li><a href="./Services">Services</a></li>
        <li><a href="./Gallery">Gallery</a></li>
        <li><a href="./ContactUs">Contact</a></li>
        <button style="margin-top: -20px;" class="subscribe-btn"> <i class="fa fa-phone" aria-hidden="true"></i>+91 9424067977</button>
      </ul>
      <div class="nav-sub subscribe-container">
      </div>
    </div>
</nav>
<div class="cooking-pan">
  <h1 class="loaderh1">Cooking in progress..</h1>
  <div id="cooking">
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div id="area">
          <div id="sides">
              <div id="handle"></div>
              <div id="pan"></div>
          </div>
          <div id="pancake">
              <div id="pastry"></div>
          </div>
      </div>
  </div>
</div>
  <div class="spacer"></div>
    <main>
    <section class="start-00">
      <div class="sliders">
        <div class="slide one">
          <img src=".\static\images\Slider-2.png" alt="#" object-fit="cover" width="100%" >
        </div>
        <div class="slide two">
          <img src=".\static\images\Slider-3.jpg"  alt="#" object-fit="cover" width="100%">
        </div>
        <div class="slide three">
          <img src=".\static\images\Slider-1.png" alt="#" object-fit="cover" width="100%">
        </div>
      </div>
      <div class="hero-section-1">
        <h2>We deliever the Taste</h2>
        <h1>From Our Kitchen To Your Tiffin</h1>
        <p>Hungry? Don't Wait </p>
        <p>Order Now</p>
<h2 class="blink">+91 9424067977(Call/Whatsapp)</h2>

        <button><a href="./ContactUs">Contact Us</a></button>

      </div>
    </section>
    
    <section class="why-choose-teffino-express">
            <h1>Why choose Teffino Express</h1>
            <div class="boxes">
              <div class="box box-1">
                <img src=".\static\images\icon1.svg" alt="#" height="150px">
                <p>Hygienically Prepared Meals</p>
              </div>
              <div class="box box-2">
                <img src=".\static\images\icon1-1.svg" alt="" height="140px">
                <p>Fresh &amp; Natural Ingredients</p>
              </div>
              <div class="box box-3">
                <img src=".\static\images\icon1-2.svg" alt="" height="140px">
                <p>Order Easily on Call/Whatsapp</p>
              </div>
              <div class="box box-4">
                <img src=".\static\images\icon1-3.svg" alt="" height="140px">
                <p>Free Home Delivery</p>
              </div>
              <div class="box box-5">
                <img src=".\static\images\icon1-4.svg" alt="" height="140px">
                <p>100+ Happy Customers</p>
              </div>
            </div>
    </section>

    <section class="start">
        <img class="background-icon" alt="" src=".\static\images\cooking-background.svg" height="600px" />
        <img class="background-icon-2" alt="" src=".\static\images\cooking-background.svg" height="600px" />
        <div class="main">
            <h1>Our Meal Plans</h1>
            <div class="plans">
                <div class="plan-1">
                    <div class="img-container">
                        <img src=".\static\images\Slider-1.png" alt="#" height="230px" width="360px"/>
                    </div>
                    <div class="text-container">
                        <h2>Regular Meal</h2>
                        <p>A classic Vegetarian meal plate consisting of......</p>
                        <div class="know-more-btn">
                            <button><li><a href="./Meals">Know More</a></li> <img src=".\static\images\icon.svg" alt=""></button>
                            
                        </div>
                    </div>
                </div>
                <div class="plan-1">
                    <div class="img-container">
                        <img src=".\static\images\Slider-3.jpg" alt="#" height="230px" width="360px"/>
                    </div>
                    <div class="text-container">
                        <h2>Premium Meal</h2>
                        <p>A Premium Vegetarian meal plate consisting of......</p>
                        <div class="know-more-btn">
                          <button><li><a href="./Meals">Know More</a></li><img src=".\static\images\icon.svg" alt=""></button>
                          
                      </div>
                    </div>
                </div>
                
            </div>
        </div>
       
    </section>

    <section class="start-2">
        <div class="inner">
          <img src=".\static\images\premium-vector---smiley-woman-cooking-in-the-kitchen-1@2x.png" alt="#" class="smiley-women">
        </div>
        <div class="spacer"></div>
        <div class="text-2">
          <div class="spacer"></div>
          <div class="spacer"></div>
          <div class="spacer"></div>
          <div class="spacer"></div>
          <div class="spacer"></div>
          <h1>100% Guaranteed Healthy and Delicious Food</h1>
          <h3>Eat Healthy and Stay Healthy</h3>
          <div class="para">
            <p>Teffino Express has been serving authentic Indian food and also provides you with freshly cooked healthy meals, made with love. We offer you a wide range of varieties with our two tiffin packages. If you are a vegetarian tired of searching a fully vegetarian tiffin service, then don't wait anymore as we are here to serve you with great happiness.</p>
          </div>
        </div>
      </section>
    
    <section class="start-3">
        <div class="order-now-ctn">
            <h1>Order Now from Teffino Express</h1>
            <p>
                You will experience an unmatched and unique online homemade food
                ordering system that can get food delivered which is nowhere
                less than your own homemade food.
            </p>
            <div class="order-info">
                <div class="info-1">
                    <div class="order-info-img">
                        <img src=".\static\images\img20240428wa0009-1@2x.png" alt="#" height="250px" width="260px"/>
                    </div>
                    <h2>Vegetarian and Quality Food</h2>
                    <button class="Meal-plan-btn"><a href="./Meals">Meal Plans</a></button>
                </div>
                <div class="info-1">
                    <div class="order-info-img">
                        <img src=".\static\images\img20240428wa0008-1@2x.png" alt="#" height="250px" width="260px"/>
                    </div>
                    <h2>Office and Home Delivery</h2>
                    <button class="Meal-plan-btn"><a href="./ContactUs">Contact Us</a></button>
                </div>
                
                
            </div>
        </div>

    </section>

    <!--GAP-->
    <div class="gap"></div>
    <section class="start-4">
      <img src=".\static\images\vector-2.svg" alt="" class="left-design-svg" >
      <img src=".\static\images\vector-3.svg" alt="" class="right-design-svg">
      <div class="inner-2">
        <h1>Our Customer Feedback</h1>
      </div>
      <!--the code is changed there-->
      <div class="feedback">
        <div class="paragraph">
          <img src=".\static\images\feedback-male.svg" alt="" height="100px" >
          <p>Rating: ★★★★★</p>

          <p>"Consistently flavorful meals with great variety and reliable delivery."</p>

        </div>
        <div class="paragraph">
          <img src=".\static\images\face1-1@2x.png" alt="" height="100px" >
          <p>Rating: ★★★★★</p>
          <p>"Excellent tiffin service with timely delivery and delicious, authentic Indian food."</p>

        </div>
        <div class="paragraph">
          <img src=".\static\images\face1-1@2x.png" alt="" height="100px" >
          <p>Rating: ★★★★☆</p>
          <p>I am very pleased with the service and also the taste of food feels like home. Would recommend you'll to order from here.</p>

        </div>
        
        
        <img src=".\static\images\group-3.svg" alt="" class="left-arrow-svg" onclick="cycleParagraphs(-1)">
        <img src=".\static\images\group-3-1.svg" alt="" class="right-arrow-svg" onclick="cycleParagraphs(-1)">
      </div>
  </section>
    <!-- <section class="start-4">
        <img src=".\static\images\vector-2.svg" alt="" class="left-design-svg">
        <img src=".\static\images\vector-3.svg" alt="" class="right-design-svg">
        <div class="inner-2">
          <h1>Our Customer Feedback</h1>
        </div>
        <div class="feedback">
          <img src=".\static\images\face1-1@2x.png" alt="#" height="100px">
          <p>I am very pleased with the service and also the taste of food feels like home. Would recommend you'll to order from here.</p>
          <img src=".\static\images\group-3.svg" alt="" class="left-arrow-svg">
          <img src=".\static\images\group-3-1.svg" alt="" class="right-arrow-svg">
        </div>
    </section> -->
    <div class="gap"></div>
    <!-- Removed unnecessary closing div tags -->
    
    </main> 
    <div class="spacer"></div>
    <footer class="footer">
      <div class="footer-info">
        <div class="company-info">
          <a href="./">
            <img src=".\static\images\logo-1@2x.png" alt="#" height="150px">
          </a>
         
          <p>Teffino Express has been serving authentic Indian food and also provides you with freshly cooked healthy meals, made with love. Trust us and we won't disappoint you.</p>
        </div>
        <div class="useful-links">
          <h1>Useful Links</h1>
          <div class="links">
            <ul class="links-1">
              <li><a href="./">Home</a></li>
              <li><a href="./AboutUs">About Us</a></li>
              <li><a href="./Meals">Meal Plans</a></li>
              <li><a href="./Services">Services</a></li>
              <li><a href="./Gallery">Gallery</a></li>
            </ul>
            <ul class="links-1">
              <li><a href="./FAQs" >FAQ</a></li>
              <li>Privacy Policy</li>
              <li>Terms &amp; Conditions</li>
              <li><a href="./ContactUs">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="contact-info">
          <h1>Contact Information</h1>
          <h2><span><img src=".\static\images\icon-2.svg" alt=""></span> teffinoexpress@gmail.com</h2>
          <h2><span><img src=".\static\images\icon--bootstrap--filled--telephone.svg" alt=""> +91 9424067977</span></h2>
          <h2><span><img src=".\static\images\location-sign-svgrepo-com.svg" alt="" height="22px"> Jabalpur, Madhya Pradesh</span></h2>
          <h2>
            <span><a href="https://www.instagram.com/teffino_express?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><img src=".\static\images\instagram.svg" alt="" class="bg-transparent"></a></span> 
            <span><a href="https://www.facebook.com/people/teffinoexpress/61560848874552/?mibextid=ZbWKwL"><img src=".\static\images\facebook.svg" alt="" class="bg-transparent"></a></span> 
            <span><a href="https://api.whatsapp.com/send?phone=9424067977&text=Welcome to Teffino."><img src=".\static\images\whatsapp.svg" alt="" class="bg-transparent"></a></span> 
            <span><a href="https://x.com/TeffinoE5234"><img src=".\static\images\twitter.svg" alt="" class="bg-transparent"></a></span>
          </h2>
        </div>
      </div>
      <div class="line-container">
        <div class="line"></div>
      </div>
      <div class="copyright">
        <img src=".\static\images\copyright.svg" alt="#">
        <h2>All Rights Reserved</h2>
      </div>
    </footer>


    <script>

setTimeout(function() {
            document.getElementById('cooking').style.display = 'none';
        }, 3000);

 const navLinks = document.querySelectorAll('.nav-links li');
let activeLink = null;



navLinks.forEach(link => {
  link.addEventListener('click', () => {
    if (activeLink) {
      activeLink.classList.remove('active');
    }
    link.classList.add('active');
    activeLink = link;
    updateTopBarAndNavbar();
  });
});

function updateTopBarAndNavbar() {
  const topBar = document.querySelector('.top-bar');
  const navbar = document.querySelector('.navbar');

  if (window.pageYOffset === 0) {
    topBar.classList.remove('hide');
    navbar.classList.remove('show');
  } else {
    topBar.classList.add('hide');
    navbar.classList.add('show');
  }
}

window.addEventListener('scroll', updateTopBarAndNavbar);
updateTopBarAndNavbar(); // Call the function initially
let currentParagraph = 0;
    const paragraphs = document.querySelectorAll('.paragraph');
    const numParagraphs = paragraphs.length;
    function cycleParagraphs(direction) {
      // Hide all paragraphs
      for (let i = 0; i < numParagraphs; i++) {
        paragraphs[i].classList.remove('visible');
      }

      // Update the current paragraph index
      currentParagraph = (currentParagraph + direction + numParagraphs) % numParagraphs;

      // Show the new current paragraph
      paragraphs[currentParagraph].classList.add('visible');
    }

    // Show the first paragraph initially
    paragraphs[currentParagraph].classList.add('visible');
    </script>
     
</body>
</html>